<!DOCTYPE html>
<html data-theme ="dark">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="/estilos.css">
  </head>
  <body>
    <div>
      <nav class="navbar  has-background-white">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">
                <img src="https://cdn.musoscorner.com.au/media/catalog/product/cache/1/image/2000x2000/9df78eab33525d08d6e5fb8d27136e95/5/3/535f0e2e424a1.png" alt="Guitarra home">
            </a>
        </div>

        <div class="navbar-end">
          <a class="navbar-item">
            Home
          </a>
          <a class="navbar-item">
            Nosotros
          </a>
          <a class="navbar-item">
            Contactanos
          </a>
        </div>
      </nav>
    </div>
    <h1 class="title is-size-1">Guitarras</h1>

    <div class="column">
        <img src="https://media.sweetwater.com/m/products/image/9311ad5adcD1xJJg9QhKSEhEublqaLTXLtT1ePWN.png?quality=82&height=750&ha=9311ad5adc9663f2" alt="Fender stratocaster">
    </div>
  </body>
</html>

