<%- include('essentials/navbar.ejs') %>
    <div class="box column">
        <figure class="image is-128x128">
            <img src="https://media.sweetwater.com/m/products/image/9311ad5adcD1xJJg9QhKSEhEublqaLTXLtT1ePWN.png?quality=82&height=750&ha=9311ad5adc9663f2"
                alt="Fender Stratocaster Amarilla">
        </figure>
        <p class="has-text-centered is-size-1">Gibson SG:
        <ul class="has-text-centered is-size-3">
            <li>Arce de 2 piezas</li>
            <li>Ronda</li>
            <li>25,5 "/ 647,7 mm</li>
            <li>1,72 "/ 43,81 mm</li>
        </ul>
        </p>
    </div>
    </body>

    </html>