<%- include('essentials/navbar.ejs') %>
    <h1 class="title is-size-1">Guitarras</h1>

    <div class="box column button has-background-black-ter">
      <figure class="image is-96x96">
        <img src="https://media.sweetwater.com/m/products/image/9311ad5adcD1xJJg9QhKSEhEublqaLTXLtT1ePWN.png?quality=82&height=750&ha=9311ad5adc9663f2" alt="Fender stratocaster">
      </figure>
      <p class="has-text-centered is-size-3">Fender Stratocaster Amarilla</p>  
    </div>

    <div class="box column button has-background-black-ter">
      <figure class="image is-64x64">
        <img  class="image-fit" src="https://camposmusicusa.com/cdn/shop/files/GD38CE-Takamine.png?v=1702573931" alt="Docerola">
      </figure>
      <p class="has-text-centered is-size-3">Takamine 12 cuerdas</p>  
    </div>
    <div class="box column button has-background-black-ter">
      <figure class="image is-96x96">
        <img  class="image-fit" src="https://images.ctfassets.net/m8onsx4mm13s/QTBJgyljrfxbfN2a91qtR/2282a6d6b00f983b8d78326ca6ed8acb/SGSP00EBCH1_front.png" alt="Gibson SG Ebony">
      </figure>
      <p class="has-text-centered is-size-3">Gibson SG Ebony</p>  
    </div>
  </body>
</html>

