<%- include('essentials/navbar.ejs') %>
    <div class="box column">
        <figure class="image is-128x128">
            <img src="https://media.sweetwater.com/m/products/image/9311ad5adcD1xJJg9QhKSEhEublqaLTXLtT1ePWN.png?quality=82&height=750&ha=9311ad5adc9663f2" alt="Fender Stratocaster Amarilla">
        </figure>
        <p class="has-text-centered is-size-3">Fender Stratocaster Amarilla: 
        <ul>
            <li>Basswood Body</li>
            <li>6-Saddle Vintage-Style Synchronized Tremolo Bridge</li>
            <li>intage-Style Single-Coil Strat Pickups</li>
            <li>Fender Vintage "F" Stamped Tuners</li>
            <li>3-Bolt Neck Plate with Micro-Tilt</li>
            <li>9.5" Radius Maple or Rosewood with Medium Jumbo Frets</li>
        </ul>
        </p>
    </div>
  </body>
</html>