<%- include('essentials/navbar.ejs') %>
    <div class="box column">
        <figure class="image is-128x128">
            <img src="https://media.sweetwater.com/m/products/image/9311ad5adcD1xJJg9QhKSEhEublqaLTXLtT1ePWN.png?quality=82&height=750&ha=9311ad5adc9663f2"
                alt="Fender Stratocaster Amarilla">
        </figure>
        <p class="has-text-centered is-size-3">Takamine Legacy:
        <ul>
            <li>12 Cuerdas</li>
            <li>15 kg</li>
            <li>100 - 60 - 12 cm</li>
        </ul>
        </p>
    </div>
    </body>

    </html>