.image-fit {
    width: 100%;  /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: 100%; /* Ajusta la altura de la imagen al 100% del contenedor */
    object-fit: contain; /* Mantiene la proporción de la imagen dentro del contenedor */
}


figure.image {
    width: 96px;  /* Limita el contenedor de la imagen */
    height: 96px;
}